--
-- PostgreSQL database dump
--

\restrict mDruN6e32YDF8aVTkaIa98YoheeXc7r0LDVCYCMuBiUvsDH2n43duYlIdDxkvqB

-- Dumped from database version 17.10
-- Dumped by pg_dump version 17.10

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: BerkasKategori; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."BerkasKategori" AS ENUM (
    'PROPOSAL',
    'PRESENTASI',
    'SEMINAR_REVISI',
    'SIDANG_SOFTCOPY',
    'SIDANG_PRESENTASI',
    'PENDUKUNG',
    'REVISI',
    'FINAL_PDF',
    'SOURCE_CODE',
    'PENGESAHAN',
    'FOTO_PROFIL',
    'SURAT_PERJANJIAN',
    'REVISI_SIDANG',
    'FINAL_SKRIPSI',
    'LEMBAR_PENGESAHAN'
);


ALTER TYPE public."BerkasKategori" OWNER TO sisidang_user;

--
-- Name: BerkasStatus; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."BerkasStatus" AS ENUM (
    'DRAFT',
    'DIAJUKAN',
    'DISETUJUI',
    'DITOLAK',
    'REVISI'
);


ALTER TYPE public."BerkasStatus" OWNER TO sisidang_user;

--
-- Name: BimbinganStatus; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."BimbinganStatus" AS ENUM (
    'DIAJUKAN',
    'DISETUJUI',
    'DITOLAK',
    'SELESAI',
    'DIVALIDASI',
    'DIBATALKAN'
);


ALTER TYPE public."BimbinganStatus" OWNER TO sisidang_user;

--
-- Name: DosenSkripsiPeran; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."DosenSkripsiPeran" AS ENUM (
    'PEMBIMBING',
    'PENGUJI',
    'KOORDINATOR'
);


ALTER TYPE public."DosenSkripsiPeran" OWNER TO sisidang_user;

--
-- Name: JadwalSidangStatus; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."JadwalSidangStatus" AS ENUM (
    'DIJADWALKAN',
    'BERLANGSUNG',
    'SELESAI',
    'DIBATALKAN'
);


ALTER TYPE public."JadwalSidangStatus" OWNER TO sisidang_user;

--
-- Name: NotifikasiStatus; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."NotifikasiStatus" AS ENUM (
    'UNREAD',
    'READ'
);


ALTER TYPE public."NotifikasiStatus" OWNER TO sisidang_user;

--
-- Name: PeminjamanRuangStatus; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."PeminjamanRuangStatus" AS ENUM (
    'DIAJUKAN',
    'DISETUJUI',
    'DITOLAK',
    'DIBATALKAN'
);


ALTER TYPE public."PeminjamanRuangStatus" OWNER TO sisidang_user;

--
-- Name: RevisiStatus; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."RevisiStatus" AS ENUM (
    'MENUNGGU_DIAJUKAN',
    'DIAJUKAN',
    'DISETUJUI',
    'DITOLAK'
);


ALTER TYPE public."RevisiStatus" OWNER TO sisidang_user;

--
-- Name: SidangDosenPeran; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."SidangDosenPeran" AS ENUM (
    'PENGUJI',
    'PEMBIMBING',
    'KETUA_PENGUJI',
    'SEKRETARIS'
);


ALTER TYPE public."SidangDosenPeran" OWNER TO sisidang_user;

--
-- Name: SidangHasil; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."SidangHasil" AS ENUM (
    'LOLOS',
    'TIDAK_LOLOS',
    'REVISI',
    'ULANG',
    'LULUS',
    'TIDAK_LULUS'
);


ALTER TYPE public."SidangHasil" OWNER TO sisidang_user;

--
-- Name: SidangJenis; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."SidangJenis" AS ENUM (
    'SEMINAR_PROPOSAL',
    'SEMINAR_HASIL',
    'SIDANG_KOMPRE',
    'SIDANG_AKHIR'
);


ALTER TYPE public."SidangJenis" OWNER TO sisidang_user;

--
-- Name: SidangStatus; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."SidangStatus" AS ENUM (
    'DRAFT',
    'MENUNGGU_BERKAS',
    'MENUNGGU_PENGUJI',
    'MENUNGGU_JADWAL',
    'DIJADWALKAN',
    'BERLANGSUNG',
    'MENUNGGU_NILAI',
    'MENUNGGU_KEPUTUSAN',
    'SELESAI',
    'DIBATALKAN'
);


ALTER TYPE public."SidangStatus" OWNER TO sisidang_user;

--
-- Name: SkripsiStatus; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."SkripsiStatus" AS ENUM (
    'MENUNGGU_BERKAS',
    'MENUNGGU_APPROVAL',
    'MENUNGGU_JADWAL',
    'SIAP_SIDANG',
    'EVALUASI_SIDANG',
    'MENUNGGU_REVISI',
    'MENUNGGU_FINAL',
    'SELESAI',
    'DITOLAK',
    'MENUNGGU_PENGESAHAN',
    'NONAKTIF',
    'DIBATALKAN',
    'DIARSIPKAN',
    'MENUNGGU_PEMBIMBING',
    'BIMBINGAN',
    'MENUNGGU_SEMINAR_HASIL',
    'SEMINAR_HASIL',
    'MENUNGGU_KOMPRE',
    'SIDANG_KOMPRE',
    'MENUNGGU_SIDANG_AKHIR',
    'SIDANG_AKHIR',
    'LULUS_SKRIPSI',
    'TIDAK_LULUS_SKRIPSI'
);


ALTER TYPE public."SkripsiStatus" OWNER TO sisidang_user;

--
-- Name: SkripsiTahap; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."SkripsiTahap" AS ENUM (
    'SEMINAR_PROPOSAL',
    'KOMPRE',
    'SIDANG_SKRIPSI',
    'FINAL'
);


ALTER TYPE public."SkripsiTahap" OWNER TO sisidang_user;

--
-- Name: UserStatus; Type: TYPE; Schema: public; Owner: sisidang_user
--

CREATE TYPE public."UserStatus" AS ENUM (
    'ACTIVE',
    'INACTIVE'
);


ALTER TYPE public."UserStatus" OWNER TO sisidang_user;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO sisidang_user;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.audit_logs (
    id text NOT NULL,
    "userId" text,
    method text NOT NULL,
    path text NOT NULL,
    action text,
    "statusCode" integer,
    ip text,
    "userAgent" text,
    "requestBody" jsonb,
    params jsonb,
    query jsonb,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.audit_logs OWNER TO sisidang_user;

--
-- Name: badges; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.badges (
    id text NOT NULL,
    slug text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.badges OWNER TO sisidang_user;

--
-- Name: berkas; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.berkas (
    id text NOT NULL,
    "skripsiId" text NOT NULL,
    "uploadedById" text NOT NULL,
    "reviewedById" text,
    kategori public."BerkasKategori" NOT NULL,
    status public."BerkasStatus" DEFAULT 'DIAJUKAN'::public."BerkasStatus" NOT NULL,
    "originalName" text NOT NULL,
    "fileName" text NOT NULL,
    "mimeType" text NOT NULL,
    "sizeBytes" bigint NOT NULL,
    path text NOT NULL,
    catatan text,
    "reviewedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "sidangId" text
);


ALTER TABLE public.berkas OWNER TO sisidang_user;

--
-- Name: bimbingan_logs; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.bimbingan_logs (
    id text NOT NULL,
    "skripsiId" text NOT NULL,
    "mahasiswaId" text NOT NULL,
    "dosenId" text NOT NULL,
    "tanggalPengajuan" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "jadwalMulai" timestamp(3) without time zone,
    "jadwalSelesai" timestamp(3) without time zone,
    topik text NOT NULL,
    hasil text,
    status public."BimbinganStatus" DEFAULT 'DIAJUKAN'::public."BimbinganStatus" NOT NULL,
    "catatanDosen" text,
    "catatanMahasiswa" text,
    "validatedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.bimbingan_logs OWNER TO sisidang_user;

--
-- Name: gamification; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.gamification (
    id text NOT NULL,
    "skripsiId" text NOT NULL,
    "progressPercent" integer DEFAULT 0 NOT NULL,
    points integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.gamification OWNER TO sisidang_user;

--
-- Name: grading_scales; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.grading_scales (
    id text NOT NULL,
    letter text NOT NULL,
    "minScore" numeric(5,2) NOT NULL,
    "maxScore" numeric(5,2) NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.grading_scales OWNER TO sisidang_user;

--
-- Name: jadwal_sidang; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.jadwal_sidang (
    id text NOT NULL,
    "skripsiId" text NOT NULL,
    "ruangId" text,
    "dibuatOlehId" text NOT NULL,
    tanggal timestamp(3) without time zone NOT NULL,
    "waktuMulai" timestamp(3) without time zone NOT NULL,
    "waktuSelesai" timestamp(3) without time zone NOT NULL,
    "tempatManual" text,
    "linkVicon" text,
    status public."JadwalSidangStatus" DEFAULT 'DIJADWALKAN'::public."JadwalSidangStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "sidangId" text
);


ALTER TABLE public.jadwal_sidang OWNER TO sisidang_user;

--
-- Name: jenis_skripsi; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.jenis_skripsi (
    id text NOT NULL,
    slug text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.jenis_skripsi OWNER TO sisidang_user;

--
-- Name: kode_etik; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.kode_etik (
    id text NOT NULL,
    "skripsiId" text NOT NULL,
    "userId" text NOT NULL,
    "statementVersion" text NOT NULL,
    "agreedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.kode_etik OWNER TO sisidang_user;

--
-- Name: log_aktivitas; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.log_aktivitas (
    id text NOT NULL,
    "actorId" text,
    action text NOT NULL,
    "entityType" text,
    "entityId" text,
    metadata jsonb,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.log_aktivitas OWNER TO sisidang_user;

--
-- Name: master_ruang; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.master_ruang (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    type text,
    capacity integer,
    facilities text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.master_ruang OWNER TO sisidang_user;

--
-- Name: missions; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.missions (
    id text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    description text,
    period text,
    points integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.missions OWNER TO sisidang_user;

--
-- Name: nilai_sidang; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.nilai_sidang (
    id text NOT NULL,
    "skripsiId" text NOT NULL,
    "dosenId" text NOT NULL,
    bobot numeric(5,2) NOT NULL,
    catatan text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    komponen text DEFAULT 'sidang'::text NOT NULL,
    nilai numeric(5,2) DEFAULT 0 NOT NULL,
    "sidangId" text
);


ALTER TABLE public.nilai_sidang OWNER TO sisidang_user;

--
-- Name: notifikasi; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.notifikasi (
    id text NOT NULL,
    "userId" text NOT NULL,
    title text NOT NULL,
    message text NOT NULL,
    type text,
    status public."NotifikasiStatus" DEFAULT 'UNREAD'::public."NotifikasiStatus" NOT NULL,
    "entityType" text,
    "entityId" text,
    "readAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.notifikasi OWNER TO sisidang_user;

--
-- Name: peminatan; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.peminatan (
    id text NOT NULL,
    slug text NOT NULL,
    name text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.peminatan OWNER TO sisidang_user;

--
-- Name: peminjaman_ruang; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.peminjaman_ruang (
    id text NOT NULL,
    "skripsiId" text,
    "mahasiswaId" text NOT NULL,
    "ruangId" text NOT NULL,
    tanggal timestamp(3) without time zone NOT NULL,
    "waktuMulai" timestamp(3) without time zone NOT NULL,
    "waktuSelesai" timestamp(3) without time zone NOT NULL,
    keperluan text NOT NULL,
    status public."PeminjamanRuangStatus" DEFAULT 'DIAJUKAN'::public."PeminjamanRuangStatus" NOT NULL,
    alasan text,
    "reviewedById" text,
    "reviewedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.peminjaman_ruang OWNER TO sisidang_user;

--
-- Name: pengesahan; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.pengesahan (
    id text NOT NULL,
    "skripsiId" text NOT NULL,
    "berkasId" text,
    "approvedById" text NOT NULL,
    catatan text,
    "approvedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.pengesahan OWNER TO sisidang_user;

--
-- Name: permissions; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.permissions (
    id text NOT NULL,
    slug text NOT NULL,
    module text NOT NULL,
    action text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.permissions OWNER TO sisidang_user;

--
-- Name: profiles; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.profiles (
    id text NOT NULL,
    "userId" text NOT NULL,
    npm text,
    nip text,
    phone text,
    address text,
    "photoPath" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.profiles OWNER TO sisidang_user;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    "userId" text NOT NULL,
    "tokenHash" text NOT NULL,
    "userAgent" text,
    "ipAddress" text,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "revokedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO sisidang_user;

--
-- Name: revisi; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.revisi (
    id text NOT NULL,
    "skripsiId" text NOT NULL,
    "dibuatOlehId" text NOT NULL,
    "berkasId" text,
    catatan text NOT NULL,
    status public."RevisiStatus" DEFAULT 'MENUNGGU_DIAJUKAN'::public."RevisiStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "approvedAt" timestamp(3) without time zone,
    "approvedById" text,
    deadline timestamp(3) without time zone,
    "sidangId" text
);


ALTER TABLE public.revisi OWNER TO sisidang_user;

--
-- Name: role_permissions; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.role_permissions (
    "roleId" text NOT NULL,
    "permissionId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.role_permissions OWNER TO sisidang_user;

--
-- Name: roles; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.roles (
    id text NOT NULL,
    slug text NOT NULL,
    name text NOT NULL,
    description text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.roles OWNER TO sisidang_user;

--
-- Name: sidang; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.sidang (
    id text NOT NULL,
    "skripsiId" text NOT NULL,
    jenis public."SidangJenis" NOT NULL,
    "attemptNo" integer DEFAULT 1 NOT NULL,
    status public."SidangStatus" DEFAULT 'DRAFT'::public."SidangStatus" NOT NULL,
    hasil public."SidangHasil",
    "catatanHasil" text,
    "createdById" text,
    "decidedById" text,
    "decidedAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.sidang OWNER TO sisidang_user;

--
-- Name: sidang_dosen; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.sidang_dosen (
    id text NOT NULL,
    "sidangId" text NOT NULL,
    "dosenId" text NOT NULL,
    peran public."SidangDosenPeran" NOT NULL,
    "assignedById" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.sidang_dosen OWNER TO sisidang_user;

--
-- Name: skripsi; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.skripsi (
    id text NOT NULL,
    "mahasiswaId" text NOT NULL,
    "peminatanId" text,
    "jenisSkripsiId" text,
    title text,
    abstract text,
    tahap public."SkripsiTahap" DEFAULT 'SEMINAR_PROPOSAL'::public."SkripsiTahap" NOT NULL,
    status public."SkripsiStatus" DEFAULT 'MENUNGGU_BERKAS'::public."SkripsiStatus" NOT NULL,
    "seminarApprovedAt" timestamp(3) without time zone,
    "selesaiAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "finalApprovedAt" timestamp(3) without time zone,
    "nilaiAkhir" double precision,
    "nilaiHuruf" text,
    "sidangApprovedAt" timestamp(3) without time zone
);


ALTER TABLE public.skripsi OWNER TO sisidang_user;

--
-- Name: skripsi_dosen; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.skripsi_dosen (
    id text NOT NULL,
    "skripsiId" text NOT NULL,
    "dosenId" text NOT NULL,
    peran public."DosenSkripsiPeran" NOT NULL,
    "bobotNilai" numeric(5,2),
    "assignedById" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "assignedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.skripsi_dosen OWNER TO sisidang_user;

--
-- Name: surat_perjanjian; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.surat_perjanjian (
    id text NOT NULL,
    "skripsiId" text NOT NULL,
    "berkasId" text NOT NULL,
    "uploadedById" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.surat_perjanjian OWNER TO sisidang_user;

--
-- Name: user_badges; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.user_badges (
    id text NOT NULL,
    "userId" text NOT NULL,
    "badgeId" text NOT NULL,
    "awardedAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "awardedBy" text
);


ALTER TABLE public.user_badges OWNER TO sisidang_user;

--
-- Name: user_roles; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.user_roles (
    "userId" text NOT NULL,
    "roleId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.user_roles OWNER TO sisidang_user;

--
-- Name: users; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.users (
    id text NOT NULL,
    identifier text NOT NULL,
    name text NOT NULL,
    email text,
    "passwordHash" text NOT NULL,
    status public."UserStatus" DEFAULT 'ACTIVE'::public."UserStatus" NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.users OWNER TO sisidang_user;

--
-- Name: workflow_rules; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.workflow_rules (
    id text NOT NULL,
    "stageCode" text NOT NULL,
    "ruleKey" text NOT NULL,
    "ruleValue" text NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.workflow_rules OWNER TO sisidang_user;

--
-- Name: workflow_stages; Type: TABLE; Schema: public; Owner: sisidang_user
--

CREATE TABLE public.workflow_stages (
    id text NOT NULL,
    code text NOT NULL,
    name text NOT NULL,
    urutan integer DEFAULT 0 NOT NULL,
    description text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.workflow_stages OWNER TO sisidang_user;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: badges; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: berkas; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: bimbingan_logs; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: gamification; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--

COPY public.gamification (id, "skripsiId", "progressPercent", points, "createdAt", "updatedAt") FROM stdin;
cmqwj4rzd0004o60vypzxhz15	cmqwj4rzd0003o60vduikfql0	95	175	2026-06-27 15:43:24.073	2026-06-29 19:26:22.34
cmqzgf5ng0002p30viroht7ql	cmqzgf5ng0001p30vlqjnbokj	67	107	2026-06-29 16:50:48.028	2026-06-30 10:13:14.265
\.


--
-- Data for Name: grading_scales; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: jadwal_sidang; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: jenis_skripsi; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--

COPY public.jenis_skripsi (id, slug, name, description, "isActive", "createdAt", "updatedAt") FROM stdin;
cmqw9cd3n001ild1wf6rqy5q3	seminar_proposal	Seminar Proposal	Tahap seminar proposal	t	2026-06-27 11:09:21.875	2026-06-30 16:37:13.606
cmqw9cd3s001jld1wzd81izvc	sidang_komprehensif	Sidang Komprehensif	Tahap sidang komprehensif	t	2026-06-27 11:09:21.88	2026-06-30 16:37:13.612
cmqw9cd3x001kld1w2c1yjddk	sidang_skripsi	Sidang Skripsi	Tahap sidang skripsi	t	2026-06-27 11:09:21.885	2026-06-30 16:37:13.616
\.


--
-- Data for Name: kode_etik; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: log_aktivitas; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--

COPY public.log_aktivitas (id, "actorId", action, "entityType", "entityId", metadata, "ipAddress", "userAgent", "createdAt") FROM stdin;
\.


--
-- Data for Name: master_ruang; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: missions; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--

COPY public.missions (id, slug, title, description, period, points, "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: nilai_sidang; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--

COPY public.nilai_sidang (id, "skripsiId", "dosenId", bobot, catatan, "createdAt", "updatedAt", komponen, nilai, "sidangId") FROM stdin;
cmqy0xora001dmu0v2fnvilb8	cmqwj4rzd0003o60vduikfql0	cmqwpumma0002pa4acs013z7o	450.00	sasasasa	2026-06-28 16:49:32.566	2026-06-28 16:54:50.02	substansi	85.02	\N
cmqy0xgt00017mu0v4dzav1rc	cmqwj4rzd0003o60vduikfql0	cmqwpumma0002pa4acs013z7o	40.00	tes	2026-06-28 16:49:22.261	2026-06-29 06:51:02.386	presentasi	85.00	\N
\.


--
-- Data for Name: notifikasi; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: peminatan; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--

COPY public.peminatan (id, slug, name, description, "isActive", "createdAt", "updatedAt") FROM stdin;
cmqw9cd37001eld1whj0rhq2p	ai	Artificial Intelligence	Peminatan AI	t	2026-06-27 11:09:21.859	2026-06-30 16:37:13.586
cmqw9cd3c001fld1w12l6axp8	ncs	Network and Cyber Security	Peminatan NCS	t	2026-06-27 11:09:21.865	2026-06-30 16:37:13.592
cmqw9cd3g001gld1wzpijzsrx	ds	Data Science	Peminatan Data Science	t	2026-06-27 11:09:21.868	2026-06-30 16:37:13.596
cmqw9cd3k001hld1wygyokzxa	se	Software Engineering	Peminatan Software Engineering	t	2026-06-27 11:09:21.872	2026-06-30 16:37:13.599
\.


--
-- Data for Name: peminjaman_ruang; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: pengesahan; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--

COPY public.pengesahan (id, "skripsiId", "berkasId", "approvedById", catatan, "approvedAt") FROM stdin;
cmqy1q0pb002lr60v1663l68d	cmqwj4rzd0003o60vduikfql0	\N	cmqw9cde1001zld1w2deln4b3	test 	2026-06-28 17:11:34.415
\.


--
-- Data for Name: permissions; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: profiles; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: revisi; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--

COPY public.revisi (id, "skripsiId", "dibuatOlehId", "berkasId", catatan, status, "createdAt", "updatedAt", "approvedAt", "approvedById", deadline, "sidangId") FROM stdin;
cmqy1nlt80019r60vkbciwqo8	cmqwj4rzd0003o60vduikfql0	cmqwpumma0002pa4acs013z7o	cmqy1o1gb001lr60vz6wxvu2s	test 	DISETUJUI	2026-06-28 17:09:41.804	2026-06-29 19:26:05.16	2026-06-29 19:26:05.159	cmqwpumma0002pa4acs013z7o	2026-07-10 17:11:00	\N
\.


--
-- Data for Name: role_permissions; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: roles; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: sidang; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: sidang_dosen; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: skripsi; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: skripsi_dosen; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--

COPY public.skripsi_dosen (id, "skripsiId", "dosenId", peran, "bobotNilai", "assignedById", "isActive", "assignedAt") FROM stdin;
cmqx8ozji000ps00vhytjski7	cmqwj4rzd0003o60vduikfql0	cmqwpumma0002pa4acs013z7o	PEMBIMBING	\N	cmqw9cde1001zld1w2deln4b3	t	2026-06-28 03:38:57.389
cmqzqeo1n000jpo0vkt5va74l	cmqzgf5ng0001p30vlqjnbokj	cmqwpumma0002pa4acs013z7o	PEMBIMBING	\N	cmqw9cde1001zld1w2deln4b3	t	2026-06-30 11:55:09.916
cmr0lati9000hqf0v5flzdvt8	cmqzgf5ng0001p30vlqjnbokj	cmqwpun3h0006pa4a0iah2k6b	PEMBIMBING	\N	cmqw9cde1001zld1w2deln4b3	t	2026-06-30 11:55:09.922
\.


--
-- Data for Name: surat_perjanjian; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--

COPY public.surat_perjanjian (id, "skripsiId", "berkasId", "uploadedById", "createdAt") FROM stdin;
cmr0hxq8j0007rz0vewoh7qsw	cmqzgf5ng0001p30vlqjnbokj	cmr0hxq860005rz0vs170a0wq	cmqwpumma0002pa4acs013z7o	2026-06-30 10:21:00.307
cmr0hy111000frz0v0qy05lht	cmqzgf5ng0001p30vlqjnbokj	cmr0hy10w000drz0vjdvvyxcf	cmqwpumma0002pa4acs013z7o	2026-06-30 10:21:14.293
cmr0iucf5001zmq0vijlwseeo	cmqzgf5ng0001p30vlqjnbokj	cmr0iucf0001xmq0vjtmb2wcj	cmqwpumma0002pa4acs013z7o	2026-06-30 10:46:22.05
\.


--
-- Data for Name: user_badges; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: user_roles; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: workflow_rules; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Data for Name: workflow_stages; Type: TABLE DATA; Schema: public; Owner: sisidang_user
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- Name: badges badges_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.badges
    ADD CONSTRAINT badges_pkey PRIMARY KEY (id);


--
-- Name: berkas berkas_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.berkas
    ADD CONSTRAINT berkas_pkey PRIMARY KEY (id);


--
-- Name: bimbingan_logs bimbingan_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.bimbingan_logs
    ADD CONSTRAINT bimbingan_logs_pkey PRIMARY KEY (id);


--
-- Name: gamification gamification_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.gamification
    ADD CONSTRAINT gamification_pkey PRIMARY KEY (id);


--
-- Name: grading_scales grading_scales_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.grading_scales
    ADD CONSTRAINT grading_scales_pkey PRIMARY KEY (id);


--
-- Name: jadwal_sidang jadwal_sidang_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.jadwal_sidang
    ADD CONSTRAINT jadwal_sidang_pkey PRIMARY KEY (id);


--
-- Name: jenis_skripsi jenis_skripsi_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.jenis_skripsi
    ADD CONSTRAINT jenis_skripsi_pkey PRIMARY KEY (id);


--
-- Name: kode_etik kode_etik_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.kode_etik
    ADD CONSTRAINT kode_etik_pkey PRIMARY KEY (id);


--
-- Name: log_aktivitas log_aktivitas_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.log_aktivitas
    ADD CONSTRAINT log_aktivitas_pkey PRIMARY KEY (id);


--
-- Name: master_ruang master_ruang_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.master_ruang
    ADD CONSTRAINT master_ruang_pkey PRIMARY KEY (id);


--
-- Name: missions missions_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.missions
    ADD CONSTRAINT missions_pkey PRIMARY KEY (id);


--
-- Name: nilai_sidang nilai_sidang_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.nilai_sidang
    ADD CONSTRAINT nilai_sidang_pkey PRIMARY KEY (id);


--
-- Name: notifikasi notifikasi_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.notifikasi
    ADD CONSTRAINT notifikasi_pkey PRIMARY KEY (id);


--
-- Name: peminatan peminatan_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.peminatan
    ADD CONSTRAINT peminatan_pkey PRIMARY KEY (id);


--
-- Name: peminjaman_ruang peminjaman_ruang_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.peminjaman_ruang
    ADD CONSTRAINT peminjaman_ruang_pkey PRIMARY KEY (id);


--
-- Name: pengesahan pengesahan_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.pengesahan
    ADD CONSTRAINT pengesahan_pkey PRIMARY KEY (id);


--
-- Name: permissions permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.permissions
    ADD CONSTRAINT permissions_pkey PRIMARY KEY (id);


--
-- Name: profiles profiles_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT profiles_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: revisi revisi_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.revisi
    ADD CONSTRAINT revisi_pkey PRIMARY KEY (id);


--
-- Name: role_permissions role_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT role_permissions_pkey PRIMARY KEY ("roleId", "permissionId");


--
-- Name: roles roles_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.roles
    ADD CONSTRAINT roles_pkey PRIMARY KEY (id);


--
-- Name: sidang_dosen sidang_dosen_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.sidang_dosen
    ADD CONSTRAINT sidang_dosen_pkey PRIMARY KEY (id);


--
-- Name: sidang sidang_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.sidang
    ADD CONSTRAINT sidang_pkey PRIMARY KEY (id);


--
-- Name: skripsi_dosen skripsi_dosen_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.skripsi_dosen
    ADD CONSTRAINT skripsi_dosen_pkey PRIMARY KEY (id);


--
-- Name: skripsi skripsi_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.skripsi
    ADD CONSTRAINT skripsi_pkey PRIMARY KEY (id);


--
-- Name: surat_perjanjian surat_perjanjian_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.surat_perjanjian
    ADD CONSTRAINT surat_perjanjian_pkey PRIMARY KEY (id);


--
-- Name: user_badges user_badges_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT user_badges_pkey PRIMARY KEY (id);


--
-- Name: user_roles user_roles_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT user_roles_pkey PRIMARY KEY ("userId", "roleId");


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: workflow_rules workflow_rules_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.workflow_rules
    ADD CONSTRAINT workflow_rules_pkey PRIMARY KEY (id);


--
-- Name: workflow_stages workflow_stages_pkey; Type: CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.workflow_stages
    ADD CONSTRAINT workflow_stages_pkey PRIMARY KEY (id);


--
-- Name: audit_logs_createdAt_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "audit_logs_createdAt_idx" ON public.audit_logs USING btree ("createdAt");


--
-- Name: audit_logs_method_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX audit_logs_method_idx ON public.audit_logs USING btree (method);


--
-- Name: audit_logs_path_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX audit_logs_path_idx ON public.audit_logs USING btree (path);


--
-- Name: audit_logs_userId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "audit_logs_userId_idx" ON public.audit_logs USING btree ("userId");


--
-- Name: badges_slug_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX badges_slug_key ON public.badges USING btree (slug);


--
-- Name: berkas_kategori_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX berkas_kategori_idx ON public.berkas USING btree (kategori);


--
-- Name: berkas_sidangId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "berkas_sidangId_idx" ON public.berkas USING btree ("sidangId");


--
-- Name: berkas_skripsiId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "berkas_skripsiId_idx" ON public.berkas USING btree ("skripsiId");


--
-- Name: berkas_status_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX berkas_status_idx ON public.berkas USING btree (status);


--
-- Name: bimbingan_logs_dosenId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "bimbingan_logs_dosenId_idx" ON public.bimbingan_logs USING btree ("dosenId");


--
-- Name: bimbingan_logs_mahasiswaId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "bimbingan_logs_mahasiswaId_idx" ON public.bimbingan_logs USING btree ("mahasiswaId");


--
-- Name: bimbingan_logs_skripsiId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "bimbingan_logs_skripsiId_idx" ON public.bimbingan_logs USING btree ("skripsiId");


--
-- Name: bimbingan_logs_status_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX bimbingan_logs_status_idx ON public.bimbingan_logs USING btree (status);


--
-- Name: gamification_skripsiId_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "gamification_skripsiId_key" ON public.gamification USING btree ("skripsiId");


--
-- Name: jadwal_sidang_ruangId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "jadwal_sidang_ruangId_idx" ON public.jadwal_sidang USING btree ("ruangId");


--
-- Name: jadwal_sidang_sidangId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "jadwal_sidang_sidangId_idx" ON public.jadwal_sidang USING btree ("sidangId");


--
-- Name: jadwal_sidang_status_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX jadwal_sidang_status_idx ON public.jadwal_sidang USING btree (status);


--
-- Name: jadwal_sidang_tanggal_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX jadwal_sidang_tanggal_idx ON public.jadwal_sidang USING btree (tanggal);


--
-- Name: jenis_skripsi_slug_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX jenis_skripsi_slug_key ON public.jenis_skripsi USING btree (slug);


--
-- Name: kode_etik_skripsiId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "kode_etik_skripsiId_idx" ON public.kode_etik USING btree ("skripsiId");


--
-- Name: log_aktivitas_action_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX log_aktivitas_action_idx ON public.log_aktivitas USING btree (action);


--
-- Name: log_aktivitas_actorId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "log_aktivitas_actorId_idx" ON public.log_aktivitas USING btree ("actorId");


--
-- Name: master_ruang_code_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX master_ruang_code_key ON public.master_ruang USING btree (code);


--
-- Name: missions_slug_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX missions_slug_key ON public.missions USING btree (slug);


--
-- Name: nilai_sidang_sidangId_dosenId_komponen_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "nilai_sidang_sidangId_dosenId_komponen_idx" ON public.nilai_sidang USING btree ("sidangId", "dosenId", komponen);


--
-- Name: nilai_sidang_sidangId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "nilai_sidang_sidangId_idx" ON public.nilai_sidang USING btree ("sidangId");


--
-- Name: nilai_sidang_skripsiId_dosenId_komponen_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "nilai_sidang_skripsiId_dosenId_komponen_idx" ON public.nilai_sidang USING btree ("skripsiId", "dosenId", komponen);


--
-- Name: nilai_sidang_skripsiId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "nilai_sidang_skripsiId_idx" ON public.nilai_sidang USING btree ("skripsiId");


--
-- Name: notifikasi_status_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX notifikasi_status_idx ON public.notifikasi USING btree (status);


--
-- Name: notifikasi_userId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "notifikasi_userId_idx" ON public.notifikasi USING btree ("userId");


--
-- Name: peminatan_slug_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX peminatan_slug_key ON public.peminatan USING btree (slug);


--
-- Name: peminjaman_ruang_ruangId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "peminjaman_ruang_ruangId_idx" ON public.peminjaman_ruang USING btree ("ruangId");


--
-- Name: peminjaman_ruang_status_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX peminjaman_ruang_status_idx ON public.peminjaman_ruang USING btree (status);


--
-- Name: peminjaman_ruang_tanggal_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX peminjaman_ruang_tanggal_idx ON public.peminjaman_ruang USING btree (tanggal);


--
-- Name: pengesahan_berkasId_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "pengesahan_berkasId_key" ON public.pengesahan USING btree ("berkasId");


--
-- Name: pengesahan_skripsiId_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "pengesahan_skripsiId_key" ON public.pengesahan USING btree ("skripsiId");


--
-- Name: permissions_slug_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX permissions_slug_key ON public.permissions USING btree (slug);


--
-- Name: profiles_userId_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "profiles_userId_key" ON public.profiles USING btree ("userId");


--
-- Name: refresh_tokens_expiresAt_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "refresh_tokens_expiresAt_idx" ON public.refresh_tokens USING btree ("expiresAt");


--
-- Name: refresh_tokens_tokenHash_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "refresh_tokens_tokenHash_key" ON public.refresh_tokens USING btree ("tokenHash");


--
-- Name: refresh_tokens_userId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "refresh_tokens_userId_idx" ON public.refresh_tokens USING btree ("userId");


--
-- Name: revisi_berkasId_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "revisi_berkasId_key" ON public.revisi USING btree ("berkasId");


--
-- Name: revisi_sidangId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "revisi_sidangId_idx" ON public.revisi USING btree ("sidangId");


--
-- Name: revisi_skripsiId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "revisi_skripsiId_idx" ON public.revisi USING btree ("skripsiId");


--
-- Name: revisi_status_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX revisi_status_idx ON public.revisi USING btree (status);


--
-- Name: roles_slug_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX roles_slug_key ON public.roles USING btree (slug);


--
-- Name: sidang_dosen_dosenId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "sidang_dosen_dosenId_idx" ON public.sidang_dosen USING btree ("dosenId");


--
-- Name: sidang_dosen_peran_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX sidang_dosen_peran_idx ON public.sidang_dosen USING btree (peran);


--
-- Name: sidang_dosen_sidangId_dosenId_peran_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "sidang_dosen_sidangId_dosenId_peran_key" ON public.sidang_dosen USING btree ("sidangId", "dosenId", peran);


--
-- Name: sidang_dosen_sidangId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "sidang_dosen_sidangId_idx" ON public.sidang_dosen USING btree ("sidangId");


--
-- Name: sidang_hasil_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX sidang_hasil_idx ON public.sidang USING btree (hasil);


--
-- Name: sidang_jenis_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX sidang_jenis_idx ON public.sidang USING btree (jenis);


--
-- Name: sidang_skripsiId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "sidang_skripsiId_idx" ON public.sidang USING btree ("skripsiId");


--
-- Name: sidang_skripsiId_jenis_attemptNo_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "sidang_skripsiId_jenis_attemptNo_key" ON public.sidang USING btree ("skripsiId", jenis, "attemptNo");


--
-- Name: sidang_status_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX sidang_status_idx ON public.sidang USING btree (status);


--
-- Name: skripsi_dosen_dosenId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "skripsi_dosen_dosenId_idx" ON public.skripsi_dosen USING btree ("dosenId");


--
-- Name: skripsi_dosen_skripsiId_dosenId_peran_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "skripsi_dosen_skripsiId_dosenId_peran_key" ON public.skripsi_dosen USING btree ("skripsiId", "dosenId", peran);


--
-- Name: skripsi_mahasiswaId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "skripsi_mahasiswaId_idx" ON public.skripsi USING btree ("mahasiswaId");


--
-- Name: skripsi_status_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX skripsi_status_idx ON public.skripsi USING btree (status);


--
-- Name: skripsi_tahap_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX skripsi_tahap_idx ON public.skripsi USING btree (tahap);


--
-- Name: surat_perjanjian_berkasId_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "surat_perjanjian_berkasId_key" ON public.surat_perjanjian USING btree ("berkasId");


--
-- Name: surat_perjanjian_skripsiId_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "surat_perjanjian_skripsiId_idx" ON public.surat_perjanjian USING btree ("skripsiId");


--
-- Name: user_badges_userId_badgeId_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "user_badges_userId_badgeId_key" ON public.user_badges USING btree ("userId", "badgeId");


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_identifier_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX users_identifier_key ON public.users USING btree (identifier);


--
-- Name: workflow_rules_ruleKey_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "workflow_rules_ruleKey_idx" ON public.workflow_rules USING btree ("ruleKey");


--
-- Name: workflow_rules_stageCode_idx; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE INDEX "workflow_rules_stageCode_idx" ON public.workflow_rules USING btree ("stageCode");


--
-- Name: workflow_rules_stageCode_ruleKey_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX "workflow_rules_stageCode_ruleKey_key" ON public.workflow_rules USING btree ("stageCode", "ruleKey");


--
-- Name: workflow_stages_code_key; Type: INDEX; Schema: public; Owner: sisidang_user
--

CREATE UNIQUE INDEX workflow_stages_code_key ON public.workflow_stages USING btree (code);


--
-- Name: audit_logs audit_logs_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT "audit_logs_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: berkas berkas_reviewedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.berkas
    ADD CONSTRAINT "berkas_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: berkas berkas_sidangId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.berkas
    ADD CONSTRAINT "berkas_sidangId_fkey" FOREIGN KEY ("sidangId") REFERENCES public.sidang(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: berkas berkas_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.berkas
    ADD CONSTRAINT "berkas_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: berkas berkas_uploadedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.berkas
    ADD CONSTRAINT "berkas_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: bimbingan_logs bimbingan_logs_dosenId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.bimbingan_logs
    ADD CONSTRAINT "bimbingan_logs_dosenId_fkey" FOREIGN KEY ("dosenId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: bimbingan_logs bimbingan_logs_mahasiswaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.bimbingan_logs
    ADD CONSTRAINT "bimbingan_logs_mahasiswaId_fkey" FOREIGN KEY ("mahasiswaId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: bimbingan_logs bimbingan_logs_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.bimbingan_logs
    ADD CONSTRAINT "bimbingan_logs_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: gamification gamification_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.gamification
    ADD CONSTRAINT "gamification_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: jadwal_sidang jadwal_sidang_dibuatOlehId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.jadwal_sidang
    ADD CONSTRAINT "jadwal_sidang_dibuatOlehId_fkey" FOREIGN KEY ("dibuatOlehId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: jadwal_sidang jadwal_sidang_ruangId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.jadwal_sidang
    ADD CONSTRAINT "jadwal_sidang_ruangId_fkey" FOREIGN KEY ("ruangId") REFERENCES public.master_ruang(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: jadwal_sidang jadwal_sidang_sidangId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.jadwal_sidang
    ADD CONSTRAINT "jadwal_sidang_sidangId_fkey" FOREIGN KEY ("sidangId") REFERENCES public.sidang(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: jadwal_sidang jadwal_sidang_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.jadwal_sidang
    ADD CONSTRAINT "jadwal_sidang_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: kode_etik kode_etik_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.kode_etik
    ADD CONSTRAINT "kode_etik_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: kode_etik kode_etik_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.kode_etik
    ADD CONSTRAINT "kode_etik_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: log_aktivitas log_aktivitas_actorId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.log_aktivitas
    ADD CONSTRAINT "log_aktivitas_actorId_fkey" FOREIGN KEY ("actorId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: nilai_sidang nilai_sidang_dosenId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.nilai_sidang
    ADD CONSTRAINT "nilai_sidang_dosenId_fkey" FOREIGN KEY ("dosenId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: nilai_sidang nilai_sidang_sidangId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.nilai_sidang
    ADD CONSTRAINT "nilai_sidang_sidangId_fkey" FOREIGN KEY ("sidangId") REFERENCES public.sidang(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: nilai_sidang nilai_sidang_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.nilai_sidang
    ADD CONSTRAINT "nilai_sidang_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: notifikasi notifikasi_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.notifikasi
    ADD CONSTRAINT "notifikasi_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: peminjaman_ruang peminjaman_ruang_mahasiswaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.peminjaman_ruang
    ADD CONSTRAINT "peminjaman_ruang_mahasiswaId_fkey" FOREIGN KEY ("mahasiswaId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: peminjaman_ruang peminjaman_ruang_reviewedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.peminjaman_ruang
    ADD CONSTRAINT "peminjaman_ruang_reviewedById_fkey" FOREIGN KEY ("reviewedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: peminjaman_ruang peminjaman_ruang_ruangId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.peminjaman_ruang
    ADD CONSTRAINT "peminjaman_ruang_ruangId_fkey" FOREIGN KEY ("ruangId") REFERENCES public.master_ruang(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: peminjaman_ruang peminjaman_ruang_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.peminjaman_ruang
    ADD CONSTRAINT "peminjaman_ruang_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pengesahan pengesahan_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.pengesahan
    ADD CONSTRAINT "pengesahan_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: pengesahan pengesahan_berkasId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.pengesahan
    ADD CONSTRAINT "pengesahan_berkasId_fkey" FOREIGN KEY ("berkasId") REFERENCES public.berkas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: pengesahan pengesahan_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.pengesahan
    ADD CONSTRAINT "pengesahan_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: profiles profiles_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.profiles
    ADD CONSTRAINT "profiles_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: refresh_tokens refresh_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: revisi revisi_approvedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.revisi
    ADD CONSTRAINT "revisi_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: revisi revisi_berkasId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.revisi
    ADD CONSTRAINT "revisi_berkasId_fkey" FOREIGN KEY ("berkasId") REFERENCES public.berkas(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: revisi revisi_dibuatOlehId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.revisi
    ADD CONSTRAINT "revisi_dibuatOlehId_fkey" FOREIGN KEY ("dibuatOlehId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: revisi revisi_sidangId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.revisi
    ADD CONSTRAINT "revisi_sidangId_fkey" FOREIGN KEY ("sidangId") REFERENCES public.sidang(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: revisi revisi_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.revisi
    ADD CONSTRAINT "revisi_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_permissionId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES public.permissions(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: role_permissions role_permissions_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.role_permissions
    ADD CONSTRAINT "role_permissions_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sidang sidang_createdById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.sidang
    ADD CONSTRAINT "sidang_createdById_fkey" FOREIGN KEY ("createdById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sidang sidang_decidedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.sidang
    ADD CONSTRAINT "sidang_decidedById_fkey" FOREIGN KEY ("decidedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sidang_dosen sidang_dosen_assignedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.sidang_dosen
    ADD CONSTRAINT "sidang_dosen_assignedById_fkey" FOREIGN KEY ("assignedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: sidang_dosen sidang_dosen_dosenId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.sidang_dosen
    ADD CONSTRAINT "sidang_dosen_dosenId_fkey" FOREIGN KEY ("dosenId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: sidang_dosen sidang_dosen_sidangId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.sidang_dosen
    ADD CONSTRAINT "sidang_dosen_sidangId_fkey" FOREIGN KEY ("sidangId") REFERENCES public.sidang(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: sidang sidang_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.sidang
    ADD CONSTRAINT "sidang_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: skripsi_dosen skripsi_dosen_assignedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.skripsi_dosen
    ADD CONSTRAINT "skripsi_dosen_assignedById_fkey" FOREIGN KEY ("assignedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: skripsi_dosen skripsi_dosen_dosenId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.skripsi_dosen
    ADD CONSTRAINT "skripsi_dosen_dosenId_fkey" FOREIGN KEY ("dosenId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: skripsi_dosen skripsi_dosen_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.skripsi_dosen
    ADD CONSTRAINT "skripsi_dosen_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: skripsi skripsi_jenisSkripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.skripsi
    ADD CONSTRAINT "skripsi_jenisSkripsiId_fkey" FOREIGN KEY ("jenisSkripsiId") REFERENCES public.jenis_skripsi(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: skripsi skripsi_mahasiswaId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.skripsi
    ADD CONSTRAINT "skripsi_mahasiswaId_fkey" FOREIGN KEY ("mahasiswaId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: skripsi skripsi_peminatanId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.skripsi
    ADD CONSTRAINT "skripsi_peminatanId_fkey" FOREIGN KEY ("peminatanId") REFERENCES public.peminatan(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: surat_perjanjian surat_perjanjian_berkasId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.surat_perjanjian
    ADD CONSTRAINT "surat_perjanjian_berkasId_fkey" FOREIGN KEY ("berkasId") REFERENCES public.berkas(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: surat_perjanjian surat_perjanjian_skripsiId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.surat_perjanjian
    ADD CONSTRAINT "surat_perjanjian_skripsiId_fkey" FOREIGN KEY ("skripsiId") REFERENCES public.skripsi(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: surat_perjanjian surat_perjanjian_uploadedById_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.surat_perjanjian
    ADD CONSTRAINT "surat_perjanjian_uploadedById_fkey" FOREIGN KEY ("uploadedById") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: user_badges user_badges_badgeId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT "user_badges_badgeId_fkey" FOREIGN KEY ("badgeId") REFERENCES public.badges(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_badges user_badges_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.user_badges
    ADD CONSTRAINT "user_badges_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_roles user_roles_roleId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT "user_roles_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES public.roles(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: user_roles user_roles_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.user_roles
    ADD CONSTRAINT "user_roles_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: workflow_rules workflow_rules_stageCode_fkey; Type: FK CONSTRAINT; Schema: public; Owner: sisidang_user
--

ALTER TABLE ONLY public.workflow_rules
    ADD CONSTRAINT "workflow_rules_stageCode_fkey" FOREIGN KEY ("stageCode") REFERENCES public.workflow_stages(code) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict mDruN6e32YDF8aVTkaIa98YoheeXc7r0LDVCYCMuBiUvsDH2n43duYlIdDxkvqB

